$fontFamilyBase: 'Open Sans', sans-serif;


$nobel: #B5B5B5;
$texasRose: #ffb84d;
$silver: #969ca8;
$catskillWhite: #e4e9f1;
$catskillWhiteLight: #f1f3f8;
$supernova: #fec601;
$athensGrayDark: #e5e8eb;
$dodgerBlueLight: #2f94ff;


